<div id="comment_<%= comment.id %>" class="comment<%= ' comment--reply' if comment.parent_comment_id? %>">
  <% if comment.deleted? %>
    <p class="comment__deleted-text"><%= t('comments.deleted') %></p>
  <% else %>
    <div class="comment__meta">
      <span class="comment__author"><%= comment.identity.handle || comment.identity.name %></span>
      <span>&middot;</span>
      <time datetime="<%= comment.created_at.iso8601 %>"><%= time_ago_in_words(comment.created_at) %> <%= t('shared.ago') %></time>
      <% if comment.edited? %>
        <span>&middot;</span>
        <span class="comment__edited-badge"><%= t('comments.edited') %></span>
      <% end %>
    </div>
    <div class="comment__body prose-comment"><%= sanitize_markdown(comment.rendered_body) %></div>
    <% if identity_signed_in? && current_identity.id == comment.identity_id %>
      <div class="comment__actions">
        <% if comment.editable_by?(current_identity) %>
          <button type="button" data-controller="comment-edit" data-action="click->comment-edit#toggle"
                  data-comment-edit-comment-id-value="<%= comment.id %>"
                  class="comment__action-btn">
            <%= t('shared.edit') %>
          </button>
        <% end %>
        <%= button_to t('shared.delete'),
              post_comment_path(comment.post, comment, slug: comment.post.slug),
              method: :delete,
              data: { turbo_confirm: t('comments.delete_confirm') },
              class: "comment__action-btn--delete" %>
      </div>
    <% end %>
    <div id="edit_comment_<%= comment.id %>" class="comment__edit-area">
      <%= render "comments/edit_form", post: comment.post, comment: comment %>
    </div>
  <% end %>
</div>
