<div id="comment_form">
  <% if identity_signed_in? %>
    <%= form_with model: Comment.new, url: post_comments_path(post, slug: post.slug), class: "comment-form" do |f| %>
      <% if defined?(comment) && comment&.errors&.any? %>
        <div class="comment-form__errors"><%= comment.errors.full_messages.to_sentence %></div>
      <% end %>
      <div data-controller="markdown-preview">
        <div class="comment-form__tabs">
          <button type="button" data-action="click->markdown-preview#showWrite" data-markdown-preview-target="writeTab"
                  class="comment-form__tab comment-form__tab--active">
            <%= t('comments.form.write') %>
          </button>
          <button type="button" data-action="click->markdown-preview#showPreview" data-markdown-preview-target="previewTab"
                  class="comment-form__tab">
            <%= t('comments.form.preview') %>
          </button>
        </div>
        <%= f.text_area :body, rows: 3, placeholder: t('comments.form.placeholder'),
              data: { markdown_preview_target: "textarea", controller: "autogrow", action: "input->autogrow#resize" },
              class: "form-input comment-form__textarea prose-comment font-serif" %>
        <div data-markdown-preview-target="preview"
             class="comment-form__preview prose-comment">
        </div>
      </div>
      <div class="comment-form__footer">
        <div class="comment-form__help">
          <p>
            <strong>**bold**</strong> &nbsp; <em>*italic*</em> &nbsp; <code class="comment-form__help-code">`code`</code> &nbsp; [link](url) &nbsp; > quote
          </p>
        </div>
        <div class="comment-form__controls">
          <label class="comment-form__notify-label">
            <%= f.check_box :notify_on_reply, class: "form-checkbox" %>
            <span><%= t('comments.form.notify_on_reply') %></span>
          </label>
          <%= f.submit t('comments.form.comment'), class: "btn btn--primary" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="comment-form__guest-prompt">
      <p><%= t('comments.form.subscribe_to_join') %></p>
      <div class="comment-form__guest-form-wrapper">
        <%= render "subscriptions/form", source_post_id: post.id %>
      </div>
    </div>
  <% end %>
</div>
