<%= turbo_frame_tag "subscription_form" do %>
  <%= form_with url: subscriptions_path, class: "subscribe-form" do |f| %>
    <% if defined?(source_post_id) && source_post_id.present? %>
      <%= f.hidden_field :source_post_id, value: source_post_id %>
    <% end %>
    <%= f.email_field :email, placeholder: t('subscriptions.form.email_placeholder'), required: true,
          class: "form-input subscribe-form__input" %>
    <%= f.submit t('shared.subscribe'), class: "btn btn--primary" %>
  <% end %>
  <% if defined?(error) && error.present? %>
    <p class="subscribe-form__error"><%= error %></p>
  <% end %>
<% end %>
