<% content_for(:title, t('unsubscribes.show.title')) %>

<div class="unsubscribe-page">
  <h1 class="unsubscribe-page__heading"><%= t('unsubscribes.show.title') %></h1>
  <p class="unsubscribe-page__message">
    <%= t('unsubscribes.show.confirm_message_html', email: @subscriber.email) %>
  </p>

  <%= form_with url: unsubscribe_path, method: :post, class: "unsubscribe-page__action" do |f| %>
    <%= hidden_field_tag :token, params[:token] %>
    <%= f.submit t('unsubscribes.show.yes_unsubscribe'),
          class: "btn btn--danger" %>
  <% end %>

  <p class="unsubscribe-page__cancel">
    <%= link_to t('shared.cancel'), root_path, class: "text-link--muted" %>
  </p>
</div>
